<h3>予約済み一覧</h3>

<table>
	<thead>
		<tr>
			<th>チェックイン</th>
			<th>チェックアウト</th>
			<th>人数</th>
		</tr>
	</thead>
	
	<tobdy>
		<%= @reservations.each do |reservation| %>
			<tr>
				<td><%= reservation.check_in_date %></td>
				<td><%= reservation.check_out_date %></td>
				<td><%= reservation.people_number %></td>
			</tr>
		<% end %>
	</tbody>
</table>


